<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>Page Title</title>
</head>
<body>
	<!--  nel template recap.html abbiamo importato i link di materialize per ottenere le sue graficje
	il div container contiene tutti gli altri elementi e serve per centrare gli elementi nella pagina -->
	<div class = "container" layout:fragment="content">
	
		<table>
	        <thead>
	          <tr>
	          	<th>Nome</th>      
	          	<th>Marca</th>
	            <th>Prezzo</th>
	            <th>Immagine</th>
	            <th>Quantità</th>
	          </tr>
	        </thead>
	
	        <tbody>
	       <!-- al template abbiamo passato una lista di tipo personSelect
	       che contiene tutti i dipendenti sezionati dall'utente e in quale quantità -->
	          <tr th:each = "item:${lista}">
	          	<td th:text = "${item.nome}"></td>
	            <td th:text = "${item.marca}"></td>
	            <td th:text = "${item.prezzo}"></td>
	            <td><img th:src = "${item.url}"></td>
	            <td th:text = "${item.qnt}"></td>	          
	          </tr>
	        </tbody>
	      </table>
		<!-- Abbiamo passato anche la somma totale degli stipendi -->
		<h3>La somma totale da pagare è: <span th:text = "${#numbers.formatDecimal(somma, 0,2, 'POINT')}"></span> €</h3>
		
	</div>
</body>
</html>