<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>Page Title</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Page-specific content -->
        <!-- Questo form ci servirà per creare un nuovo oggetto di tipo persona
colleghiamo il form alla rotta "/submit" e ad una chiamata di tipo post -->
	<h3> Persona aggiunta: </h3>
	      
	<div class="row">
	  	<div class="card col s3">
	    	<div class="card-image waves-effect waves-block waves-light form-persone">
	      		<img class="activator" th:src = "${persona.url}">
	    	</div>
	    	<div class="card-content">
	    	  	<span class="card-title activator grey-text text-darken-4" th:text = "${persona.cognome}"></span>
		    </div>
		   	<div class="card-reveal">
	      		<span class="card-title grey-text text-darken-4" th:text = "${persona.cognome}" ><i class="material-icons right">close</i></span>
	      		<p th:text = "${persona.nome}"></p>
		      	<p><span class="card-title activator grey-text text-darken-4" th:text = "${persona.stipendio}"></span> €<p>
	    	</div>
	  	</div>
<!-- 	<h3 th:text = "${persona.nome}"></h3>
	<h3 th:text = "${persona.cognome}"></h3>
	<img th:src = "${persona.url}">		
 -->    </div>
</body>
</html>
